@import "../../styles/variables.scss";

.headerStyle {
  text-align: center;
  height: 112;
  padding-inline: 48;
  line-height: 64px;
  color: white;
  background: $azul_escuro !important;
}

.textHeader {
  color: white;
  font-size: large;
  display: flex;
}
