.layoutStyle {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column !important;
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
}
.contentStyle {
  display: flex;
  max-width: 80% !important;
}
