$azul_escuro: #242755;
$amarelo_claro: #f5f5dc;

$font_gray: #5a5a5a;
$blue_dark: #0130a4;
$font_blue_dark: #00247d;
$rgb_blue_dark: rgba(1, 47, 164, 0.2);

$blue_light: #004a8d;
$yellow: #e7a609;
$gray: #2c2c2c;
$gray_light: #f9fafb;
$white: #ffffff;
$danger: #b22222;
$danger_light: #fceded;
$green: #1bb952;
$green_light: #ebfaf0;
$green_dark: #1ab851;
$warning: #fd9f28;
$font_gray: #5a5a5a;
$golden: #b5985a;

$tag_orange: #f0801a;
$tag_purple: #3207b0;
$tag_blue: #0790b0;

$container_lg: 100%;
$container_md: 1140px;
$container_xs: 960px;
