@import "../../styles/variables.scss";

.input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  // width: 100%;
  min-width: 0;
  padding: 6px 16px;
  color: $font_gray;
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  margin-bottom: 10px;
  width: 100%;

  &:hover {
    border: 1px solid $blue_light;
  }

  &:focus {
    border: 1px solid $blue_dark;
    outline: none;
    box-shadow: 0 0 0 2px $rgb_blue_dark;
  }
}

.input__date {
  color: #000000;
}
