@import "../../styles/variables.scss";
@import "../../styles/mixins";

.card {
  min-width: 300px;
  min-height: 200px !important;
  background: $white !important;
  box-shadow: 10px 5px 5px #eaeaea;
  height: 100%;
  display: flex;

  @include for-tablet-portrait-up {
    min-width: 100% !important;
  }
  @include for-phone-only {
    min-width: 100% !important;
  }
}

.card:hover {
  cursor: pointer;
}
